<div id="byob-empty-state-hint" class="page-width">
Please add the app blocks <a href="https://support.ilovebyob.com/article/220-how-can-i-install-byob-3-mins" target="_blank" style="text-decoration: underline;">
following this guide</a>. Otherwise, the bundle page cannot be rendered. <br><br>
<a href="https://d33v4339jhl8k0.cloudfront.net/docs/assets/57fdf94b9033600277a693e9/images/662a359e1bee2d183948c28e/file-1h7S5FIsuz.png" target="_blank"  title="Click image to open it in another tab">
  <img style="width:100%" src="https://d33v4339jhl8k0.cloudfront.net/docs/assets/57fdf94b9033600277a693e9/images/662a359e1bee2d183948c28e/file-1h7S5FIsuz.png">
</a>
</div>
{% schema %}
  {
    "name": "BYOB Empty State Hint",
    "settings": [{
         "type": "paragraph",
         "content": "Remove this section if you've intsalled the BYOB app blocks"
    }],
   "presets": [
    {
      "name": "BYOB Empty State Hint"
    }
  ]
  }
{% endschema %}
