<h3 class="h2 ">Timeless, classic and 
    <span class="animated-marker" style="--marker-color: #ff8947">elegant
        <svg class="svg-marker svg-marker--style2" width="192" height="28" viewBox="0 0 192 28" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <path d="M3 11.9994C56 8.99939 167.626 -0.217816 187 4.99939C201 8.76949 83.5 14.9993 56 24.9997" stroke="var(--marker-color)" stroke-width="6" stroke-linecap="round" style="stroke-dashoffset: 0; stroke-dasharray: none;"></path>
        </svg>
    </span>
</h3>