<script src="{{ "custom-section-render.js" | asset_url }}" defer></script>

<div>
  {% render 'custom-product-card', product: product %}
</div>

{% schema %}
{
    "name": "Custom product card",
    "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Product card"
        }
    ],
    "presets": [
        {
            "name": "Cusotom product card"
        }
    ]
}
{% endschema %}
