<div>
  {% render 'custom-web-product', product: section.settings.product %}
</div>

{% schema %}
{
    "name": "Custom product card",
    "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
    ],
    "presets": [
        {
            "name": "Cusotom product card"
        }
    ]
}
{% endschema %}
