<div class="coupon">
  <div class="left">
    <div>Enjoy Your Gift</div>
  </div>
  <div class="center">
    <div>
      <h2>50% OFF</h2>
      <h3>Coupon</h3>
      <small>Valid until May, 2023</small>
    </div>
  </div>

  <div class="right">
    <div>87878521112</div>
  </div>
</div>

{% schema %}
{
  "name": "Available offer",
  "settings": []
}
{% endschema %}
