
<div class="image__picker">
    <img src="{{ settings.upload_image | img_url: '100x'}}" style="width:100%; height:auto; display:block; border:1px solid #ddd;" class="img-responsive"/>
</div>

{% schema %}
  {
    "name": "Test",
    "settings": [
      {
        "type": "image_picker",
        "id": "upload_image",
        "label": "Upload a image",
        "info": "aquí va la imagen"
      }
    ],
    "presets": [
            {
                "name": "Test"
            }
        ]
  }
{% endschema %}