.breadcrumbs-list {
  list-style: none;
  display: flex;
}

.tw-inline-block .tw-underline {
  text-decoration: none;
  color: #3b5342;
  letter-spacing: 0em;
  font-size: 12px;
}
.tw-inline-block a[href="/"] {
  text-decoration: underline;
}