.shop-the-look__image .media img {
    width: 100%;
    height: auto;
    border-radius: 1.6rem;
    /* object-fit: cover; */
}
.shop-the-look {
    /* border: 1px solid red; */
}

.shop-the-look__image {
    position: relative;
    /* border: 1px solid red; */
    /* width: 1240px; */
    /* height: 660px; */
}
.shop-the-look__dots {
    transition: all .25s cubic-bezier(.104,.204,.492,1);
}

.shop-the-look__dots::before {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: -1;
    left: -8px;
    top: 4px;
    transition: .3s ease;
    border: 1px solid #fff;
    animation: pulsing 2s infinite;
}
.shop-the-look__dots::after {
    border: 1px solid #fff;
    animation: pulsing 2s infinite;

}

.shop-the-look__dots:hover::before {
    width: 3.2rem;
    height: 3.2rem;
    left: -11px;
    top: -1px;
}

.shop-the-look__dot {
    color: black;
    width: 0.8rem;
    height: 0.8rem;
    transition: .3s ease;
    transition: all .25s cubic-bezier(.104,.204,.492,1);
}

.shop-the-look__dots:hover .shop-the-look__dot {
    color: black;
    width: 1rem;
    height: 1rem;
}

.shop-the-look .media--portrait {
    /* padding-bottom: 116%; */
    /* padding-bottom: 50; */
    border-radius: 1.6rem;
    background: white;
}

.shop-the-look__content {
    margin-top: 2rem;
    /* border: 1px solid rgb(0, 255, 4); */
}

.shop-the-look__content .h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

.shop-the-look__product {
    /* border: 1px solid rgb(0, 255, 4); */
    padding: 0.6rem;
    background-color: #fff;
    /* min-width: 9rem; */
    /* min-height: 17rem; */
    border-radius: 1rem;
    position: absolute;
    top: -2rem;
    left: 5rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 2rem;
    transform: translate(-56%) translateY(60px);
    height: 134px;
    width: 314px;
}

.shop-the-look__dots:hover .shop-the-look__product {
    left: 3rem;
    opacity: 1;
    visibility: unset;
}

.shop-the-look__product a {
    text-decoration: none;
    color: inherit;
}

.shop-the-look-product-details s {
    font-size: 1.2rem;
    font-weight: 600;
}

.shop-the-look__product a:hover {
    /* color: #D03C3F; */
}

.shop-the-look__product-image {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.shop-the-look-product-details {
    width: auto;
    /* border: 1px solid red; */
    margin-top: -10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.shop-the-look-product-details .h5 {
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    color: #3b5342;
}

.shop-the-look-product-details s {
    margin-top: -14px;
    color: #3b5342;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
}

.shop-the-look-product-details .view-product {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #8d5d48;
}

.shop-the-look__product-image img {
    width: 100%;
    height: auto;
    border-radius: 0.6rem
}

.shop-the-look .hover-button {
    background: radial-gradient(ellipse, #D03C3F 50%, black 50%);
    background-size: 700% 450%;
    background-position: right;
    transition: all 1s ease-out;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    margin-top: 2rem;
    padding: .3rem .9rem;
    letter-spacing: 0.3px;
    line-height: 28.8px;
}

.shop-the-look .hover-button:hover {
    background-position: center;
    background-size: 150% 300%;
}

.shop-the-look__content p {
    line-height: normal;
    font-size: 1.4rem;
    margin: 0;
}

.shop-the-look__grid {
    gap: 2rem;
    /* border: 1px solid red; */
    overflow: hidden;
    height: 634px;
    border-radius: 10px;
}
@media screen and (max-width:750px) {
    .shop-the-look__product {
        /* border: 1px solid red; */
        gap: 0rem;
    }
    .tr1 {
        transform: translate(-44%) translateY(84px);
    }
    .tr2 {
        transform: translate(-64%) translateY(124px);
    }
    .tr3 {
        transform: translate(-86%) translateY(94px);
    }
    .shop-the-look__product-image img {
        height: 84px;
    }
}


@media screen and (min-width:750px) {
    .shop-the-look__product {
        min-width: 17rem;
        min-height: 10rem;
        display: flex;
        flex-direction: row;
    }

    .shop-the-look__product-image {
        width: 30%;
    }

    .shop-the-look-product-details {
        width: 60%;
    }

    .shop-the-look .hover-button {
        padding: 1rem 2rem;
    }

    .shop-the-look__content .h3 {
        font-size: 2.6rem;
    }
    
    .shop-the-look__content p {
        font-size: 1.8rem;
    }
}